.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 0 72px;
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-item {
  display: inline-block;
  width: 264px;
  vertical-align: top;
  margin-right: 24px;
  background-color: #ffffff;
}

.team-item img {
  display: block;
}

.team-info {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 0 8px;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}